.footer {
    min-height: 180px;
    background-color: #22577E;
    padding: 45px 0 50px 0;
    color: #fff;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        div {
            margin: auto 0;
        }
    }
    .subtitle {
        font-size: 20px;
    }
    .link {
        display: block;
        margin-top: 15px;
        font-size: 16px;
        color: #fff;
    }
    .call {
        text-align: right;
    }
}