{% extends 'homepage/layout.html' %}

{% block body %}

    {% if author_list %}
    <ul>

        {% for author in author_list %}
        <li>
            <a href="{% url 'homepage:author-detail' author.pk %}">{{ author.first_name }} {{ author.last_name }}</a>
            <span>Book edition: <strong>{{ author.book_set.all.count }}</strong></span>

        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no books in the library</p>
    {% endif %}

{% endblock %}