{% block viewsOfSport %}
    {% load custom_filter_tags i18n%}
    <!-- Tabs (content type of sport)-->
    <div class="preview">
      <div class="bgc_blue"></div>
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-8">
                  <!-- Block Content for Tab (blockContent) Content for Type of Sports    -->
                  {% for sport in views_sport %}
                      <div class="tabcontent hide">
                          <img src="{{ sport.imgAdd.url }}" alt="{{ sport.type_sport}}">
                          <div class="tabcontent__descr">
                              {{ sport.content }}
                          </div>
                      </div>
                  {% endfor %}
              </div>
              <div class="col-12 col-md-4">
                  <div class="tabheader">
                      <h3>{% trans 'Выберите вид спорта/услуги' %}</h3>
                      <!-- Block Tabs (blockTab) name Tab for Type of Sports-->
                      <div class="tabheader__items">
                          {% for sport in views_sport %}
                              <div data-sport-index="{{sport.id }}" class="tabheader__item">{{sport.type_sport}}</div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <div class="preview__life">{% trans 'Живи здоровой жизнью!' %}</div>
              </div>
          </div>
      </div>
  </div>

  <div class="card_modal">
    <div class="modals">
        <div class="modal-content">
            <div class="modal-wrap">
                <div id="tabs"></div>    
            </div>
        </div> 
    </div>
  </div>

  
{% endblock %}