
@import url(https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Ubuntu+Condensed&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
@font-face {
    font-family: 'Antanella';
    font-style: normal;
    font-weight: normal;
    src: local('Antanella'),
        url('../font/Antonella/Antonella.woff2') format('woff2'),
        url('../font/Antonella/Antonella-Bold.woff') format('woff'),
        url('../font/Antonella/Antonella.ttf') format('ttf'),
        url('../font/Antonella/Antonella.eot') format('eot');
}
@font-face { 
    font-family: 'SportsWorld';
    font-style: normal, bold;
    font-weight: normal, bold;
    src: local('SportsWorld'),
        url('../font/SportsWorld/SportsWorld.woff2') format('woff2'),
        url('../font/SportsWorld/SportsWorld.woff') format('woff'),
        url('../font/SportsWorld/SportsWorld.ttf') format('ttf'),
        url('../font/SportsWorld/SportsWorld.eot') format('eot');
}
@font-face {
    font-family: 'SpriteGraffitiShadow';
    font-style: normal;
    font-weight: normal;
    src: local('Antanella'),
        url('../font/SpriteGraffitiShadow/SpriteGraffitiShadow.woff2') format('woff2'),
        url('../font/SpriteGraffitiShadow/SpriteGraffitiShadow.woff') format('woff'),
        url('../font/SpriteGraffitiShadow/SpriteGraffitiShadow.ttf') format('ttf'),
        url('../font/SpriteGraffitiShadow/SpriteGraffitiShadow.eot') format('eot');
}
@import './variables/_variables';
@import './_base.scss';
@import './blocks/header/_header.scss';
@import './blocks/sidepanel/_sidepanel';
@import './blocks/preview/_preview';
@import './blocks/offer/_offer';
@import './blocks/calculating/_calculating';
@import './blocks/menu/_menu';
@import './blocks/order/_order';
@import './blocks/promotion/_promotion';
@import './blocks/footer/_footer';
@import './blocks/modal/_modal';
@import './blocks/tabssport/_tabssport';
@import './blocks/velo-slider/_velo-slider';
@import './blocks/timetable/_timetable';
@import './blocks/timetable/_modal';
@import './blocks/glide/_glide';
@import './blocks/el_slider/el';
@import './blocks/image-area/_image_area';
@import './blocks/price_card_area/card-area';
@import './blocks/tranlated_form/translated_form';
@import '../../templates/homepage/badges/badges';
@import '../../templates/homepage/news/newsContent';
@import '../../templates/homepage/badges/tournamentList';
@import '../../templates/homepage/badges/skeleton_info';
@import '../../templates/homepage/badges/tournament_info';
@import '../../templates/homepage/badges/run_string/run_string'