{% block tournament_info %}
    <div class="ti__info">
            <div class="ti__basics">
                <img src="/media/place.png" alt="" style="" />
                <div>
                    <div class="ti__info-name">Курдский бурдюк</div>
                    <div class="ti__btns">
                        <a href="#" class="button button__main">
                            <div class="inner">homepage</div>
                        </a>
                        <a href="" class="button button__secondary">
                            <div class="inner">Wiki</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ti__descr">
                описание
            </div>
            <div class="ti__player">Игры:</div>
            <ul class="ti__player-list">
                <li data-key="1" class="ti__player-item">
                   <div class="ti__player-item--play">Казахские волки</div>
                    <div style="background: center / contain no-repeat url('/media/vs.png')" class="ti__player-item--icon"></div>
                    <div class="ti__player-item--play">Курдский бурдюк</div>
                    <div style="background: center / contain no-repeat url('/media/win.png')" class="ti__player-item--icon"></div>
                    <div class="info">матч состоится 22.01 в 15.30 минск-арена</div>
                </li>
                <li data-key="1" class="ti__player-item">
                    <div class="ti__player-item--play">Казахские волки</div>
                     <div style="background: center / contain no-repeat url('/media/vs.png')" class="ti__player-item--icon"></div>
                     <div class="ti__player-item--play">Курдский бурдюк</div>
                     <div style="background: center / contain no-repeat url('/media/loser.png')" class="ti__player-item--icon"></div>
                 </li>
                <li data-key="1" class="ti__player-item">
                    <div class="ti__player-item--play">Казахские волки</div>
                     <div style="background: center / contain no-repeat url('/media/vs.png')" class="ti__player-item--icon"></div>
                     <div class="ti__player-item--play">Курдский бурдюк</div>
                     <div style="background: center / contain no-repeat url('/media/handshake.png')" class="ti__player-item--icon"></div>
                 </li>
                
            </ul>
            <div class="ti__player">Игроки команды:</div>
            <ul class="ti__player-list">
                <li data-key="1" class="ti__player-item" >
                    <div class="ti__player-item--play number" style="background: blue;">1</div>
                    <div style="background: center / cover no-repeat url('/media/default.png')" class="ti__player-item--iconplayer"></div>
                    <div class="ti__player-item--play-teamplayer">Капитонов А.А.</div>
                    <div class="ti__player-item--play-text">К</div>
                </li>
                
            </ul>
        </div>

{% endblock tournament_info %}